*{
  background-color: white;
  color: black;
  box-sizing: border-box;
}
.App{
  width: 100%;
  margin: 30px auto;
  display: inline-grid;
  grid-template-columns: repeat(3,1fr);
  gap: 100px 60px;
  justify-items: center;
  grid-column: 1/-1;
  position: relative;
  
}
.Heading{
  text-align: center;
  width: 100%;
}
